doctype html
html(lang='en')
  head
    title Star Wars
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    style(type='text/css').
      .container .col{padding:20px;margin:20px;}
      .navigate{margin:20px;}
  body
    .container
      h2 #{title}
      table.table.table-bordered.table-responsive.table-hover
        tr
          th.success Name
          th.success Height
          th.success Mass
          th.success Skin Color
          th.success Eye color
          th.success Gender
        for item in data
          tr
            td #{item.name}
            td #{item.height}
            td #{item.mass}
            td #{item.skin_color}
            td #{item.eye_color}
            td #{item.gender}
      if pagination==1
        .container
          a.btn.btn-md.btn-default.navigate(type='button', href='/pagecall/prev') prev
          a.btn.btn-md.btn-primary.navigate(type='button', href='/pagecall/next') next