extends character

block content
for item in data
  tr
    td.tg-yw4l #{item.name}
    td.tg-yw4l #{item.height}
    td.tg-yw4l #{item.mass}
    td.tg-yw4l #{item.skin_color}
    td.tg-yw4l #{item.eye_color}
    td.tg-yw4l #{item.gender}